@use 'variables' as *;

.button {
  gap: 8px;
  padding: 8px 24px;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: $font-weight-semibold;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  @media (min-width: $breakpoint-md) {
    gap: 8px;
    font-size: 16px;
  }

  &--primary {
    background-color: $primary;
    color: $white;

    &:hover { background-color: $quaternary; color: $primary; }
  }

  &--secondary {
    background-color: $secondary;
    color: $white;

    &:hover { background-color: $quaternary; color: $secondary; }
  }

   &:focus-visible {
    outline: 3px solid $primary;
    outline-offset: 4px;
  }

  &:focus-visible,
  &:focus {  // ← Safari fallback for :focus-visible
    outline: 3px solid $primary;
    outline-offset: 4px;
  }
}