@use 'variables' as *;

.gallery {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: 250px 250px 250px;
    justify-content: center;
  }

  &__item {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;

    &:focus-visible {
      outline: 3px solid $secondary;
      outline-offset: 4px;
    }

    &:nth-child(1) {
      @media (min-width: $breakpoint-md) {
        grid-row: 1 / 3;
      }
    }

    &:nth-child(2) {
      @media (min-width: $breakpoint-md) {
        grid-row: 1 / 3;
      }
    }

    &:nth-child(3) {
      @media (min-width: $breakpoint-md) {
        grid-row: 1;
        grid-column: 3;
      }
    }

    &:nth-child(4) {
      @media (min-width: $breakpoint-md) {
        grid-row: 3;
        grid-column: 1 / 3;
      }
    }

    &:nth-child(5) {
      @media (min-width: $breakpoint-md) {
        grid-row: 2 / 4;
        grid-column: 3;
      }
    }
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;

    &:focus-visible {
      opacity: 1;
      outline: 3px solid $secondary;
      outline-offset: 4px;
    }

    .gallery__item:hover & {
      opacity: 1;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}