@use 'variables' as *;

.gallery-header {
  display: grid;
  place-items: center;
  padding: 40px 16px;

  &__content {
    max-width: 720px;
  }

  &__title {
    text-align: center;
    margin-bottom: 16px;
  }
}