@use 'variables' as *;

.section {
  display: grid;
  place-items: center;
  padding: 10px 16px;


  &--hero {
    padding-top: 48px;

    @media (min-width: $breakpoint-md) {
      padding-top: 80px;
    }
  }

  &__content {
    max-width: 720px;
    width: 100%;
    display: grid;
    gap: 16px;

    @media (min-width: $breakpoint-md) {
      justify-items: center;
    }

    &--wide {
      max-width: 1200px;
    }
  }
}