@use 'variables' as *;

.section {
  display: grid;
  place-items: center;
  padding: 24px 16px;

  @media (min-width: $breakpoint-md) {
    padding: 40px 16px;
  }

  &__content {
    max-width: 720px;
    width: 100%;
    display: grid;
    gap: 16px;

    @media (min-width: $breakpoint-md) {
      justify-items: center;
    }

    &--wide {
      max-width: 1200px;
    }
  }
}