@use 'variables' as *;

.heading {
  font-family: $font-primary;
  font-weight: $font-weight-headings;
  line-height: 1.1;
  color: $primary;

  &--h1 { font-size: clamp(28px, 5vw, 48px); }
  &--h2 { font-size: clamp(26px, 4.5vw, 38px); }
  &--h3 { font-size: clamp(22px, 4vw, 32px); }
}

.paragraph {
  font-family: $font-primary;
  font-weight: $font-weight-paragraph;
  font-size: clamp(14px, 2.5vw, 16px);
  line-height: 1.4;
  color: $content;

  &__link {
    color: $secondary;

    &:hover { text-decoration: none; }
  }
}

.link {
  font-weight: $font-weight-semibold;
}