@use 'variables' as *;

.heading {
  font-family: $font-primary;
  font-weight: 700;
  line-height: 1.1;
  color: $primary;

  &--h1 { font-size: 38px; }
  &--h2 { font-size: 38px; }
  &--h3 { font-size: 32px; }
}

.paragraph {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: $content;

  &__link {
    color: $secondary;

    &:hover { text-decoration: none; }
  }
}