// Typography
$font-primary: "Inter", sans-serif;

// Colors
$primary: #13304A;
$secondary: #076D59;
$tertiary: #37B971;
$cuaternary: #E9ECE7;
$black: #000000;
$white: #FFFFFF;
$content: #222222;
$danger: #FF4C4C;
