// Typography
$font-primary: "Inter", sans-serif;
$font-weight-headings: 700;
$font-weight-semibold: 600;
$font-weight-paragraph: 400;

// Colors
$primary: #13304A;
$secondary: #076D59;
$tertiary: #37B971;
$quaternary: #E9ECE7;
$black: #000000;
$white: #FFFFFF;
$content: #222222;
$danger: #FF4C4C;

// Breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;