@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  background-color: $color-bg;
  color: $color-text;
  text-align: center;

  h1 {
    margin-top: $spacing-md;
    color: $color-heading;

    &:hover {
      filter: brightness(0.8);
    }
  }
}