@use 'variables' as *;
@use 'layout';
@use 'typography';
@use 'gallery';
@use 'button';
@use 'modal';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  background-color: $white;
  color: $content;
}

.footer {
  width: 100%;
  text-align: right;
}